@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Common;

@model IPagedList<SpaLNT.Models.Spa.Employee>

<table class="table search-table v-middle" id="file_export">
    <thead class="header-item">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Email</th>
            <th>EmployeeCode</th>
            <th>Date Of Birth</th>
            <th>BranchName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <!-- row -->
                <tr class="search-items">
                    <td>
                        <img src="~/Areas/Admin/Content/img/Employee/@item.Avatar" alt="user" class="rounded-circle" width="50">
                        <span class="fw-normal">@item.Name</span>
                    </td>
                    <td>
                        <span>@item.Salary</span>
                    </td>
                    <td>
                        <span>@item.Phone</span>
                    </td>
                    <td>
                        <span>@item.Email</span>
                    </td>
                    <td>
                        <span>@item.EmployeeCode</span>
                    </td>
                    <td>
                        <span>@item.DOB</span>
                    </td>
                    <td>
                        @item.Branch.BranchName
                    </td>
                    <td>
                        <div class="action-btn">
                            <a href="javascript:void(0)"
                               class="text-info detail"
                               onclick="loadEmployeeDetails(@item.Id)"
                               data-toggle="modal"
                               data-target="#employeeModal">
                                <svg width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="feather feather-eye feather-sm fill-white">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </a>
                            <a href="javascript:void(0)"
                               class="text-dark edit ms-2"
                               onclick="editEmployee(@item.Id)"
                               data-toggle="modal"
                               data-target="#employeeModal">
                                <svg viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     class="feather feather-sm">
                                    <path d="M18.656.93,6.464,13.122A4.966,4.966,0,0,0,5,16.657V18a1,1,0,0,0,1,1H7.343a4.966,4.966,0,0,0,3.535-1.464L23.07,5.344a3.125,
                                          3.125,0,0,0,0-4.414A3.194,3.194,0,0,0,18.656.93Zm3,3L9.464,16.122A3.02,3.02,0,0,1,7.343,17H7v-.343a3.02,3.02,0,0,1,.878-2.121L20.07,
                                          2.344a1.148,1.148,0,0,1,1.586,0A1.123,1.123,0,0,1,21.656,3.93Z" />
                                    <path d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2h9.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,
                                          5.006,0,0,0,5,5H16.343a4.968,4.968,0,0,0,3.536-1.464l2.656-2.658A4.968,4.968,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.465,21.122a2.975,
                                          2.975,0,0,1-1.465.8V18a1,1,0,0,1,1-1h3.925a3.016,3.016,0,0,1-.8,1.464Z" />
                                </svg>
                            </a>
                            <a href="javascript:void(0)"
                               class="text-danger delete ms-2"
                               onclick="deleteEmployee(@item.Id)"
                               data-toggle="modal"
                               data-target="#employeeModal">
                                <svg width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="feather feather-trash-2 feather-sm fill-white">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>
                <!-- /.row -->
            }
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    @Html.PagedListPager(
      Model, page => "javascript:void(0)" + page,
      new PagedListRenderOptions
      {
          LiElementClasses = new string[] { "page-item" },
          PageClasses = new string[] { "page-link" }
      })
</div>


<!--This page plugins -->
<script src="~/Areas/Admin/Content/js/branches/data-list/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="~/Areas/Admin/Content/js/branches/data-list/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/dist/js/pages/datatable/datatable-advanced.init.js"></script>


