@model dynamic

@{
    ViewBag.Title = "CreateOrderImport";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@Styles.Render("~/Areas/Admin/Content/css/branches/create")

<style>
    #tableProviders {
        border-bottom: #e8eef3;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #tableProviders_filter {
        text-align: center;
        width: 100%;
    }

        #tableProviders_filter label {
            width: 100%;
        }

            #tableProviders_filter label input {
                width: 90%;
            }

    .body-table-providers-wrapper {
        display: none;
    }

    #tableProducts_info{
        float:none;
        text-align:center;
    }
</style>

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h3 class="page-title">Create Order Import</h3>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <!--Provider Information-->
        <div class="col-9">
            <div class="widget-content searchable-container list">
                <div class="card card-body">
                    <div class="d-flex no-block align-items-center mb-2 title-provider-infor">
                        <h4 class="card-title">Provider Information</h4>
                    </div>
                    <div class="body-provider-infor">
                        <!--Data Table Provider-->
                        <div id="dataTableProviderSearch">
                            <table class="table table-bordered" id="tableProviders">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Code </th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone </th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyTableProviders">
                                    @if (Model.Providers != null)
                                    {
                                        foreach (var item in Model.Providers)
                                        {
                                            <tr>
                                                <td class="code">@item.ProviderCode</td>
                                                <td class="name">@item.Name</td>
                                                <td class="phone">@item.Phone</td>
                                                <td class="email">@item.Email</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <br>

                        <!--Order Provider-->
                        <table class="table search-table v-middle" id="tableOrderProvider">
                            <thead class="header-item">
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody id="bodyTableOrderProvider">
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!--Information Product Import-->
        <div class="col-3">
            <div class="widget-content searchable-container list">
                <div class="card card-body">
                    <div class="d-flex no-block align-items-center mb-4">
                        <h4 class="card-title">Information Product Import</h4>
                    </div>

                    <!--import products into the store-->
                    <div class="row create-product-name">
                        <div class="col-lg-2 col-3 icon-branch-create">
                            <svg viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="css-i6dzq1">
                                <path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path>
                                <polygon points="12 15 17 21 7 21 12 15"></polygon>
                            </svg>
                        </div>
                        <div class="col-lg-10 col-9">
                            <div class="form-floating mb-3">
                                @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control" })
                                <label for="tb-rfname">Store ▼</label>
                            </div>
                        </div>
                    </div>

                    <!--Order provider discount-->
                    <div class="row create-product-name">
                        <div class="col-lg-2 col-3 icon-branch-create">
                            <svg viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="css-i6dzq1">
                                <line x1="19" y1="5" x2="5" y2="19"></line>
                                <circle cx="6.5" cy="6.5" r="2.5"></circle>
                                <circle cx="17.5" cy="17.5" r="2.5"></circle>
                            </svg>
                        </div>
                        <div class="col-lg-10 col-9">
                            <div class="form-floating mb-3">
                                <input class="form-control form-input-bg text-box single-line" placeholder="Name" type="text" value="0">
                                <label for="tb-rfname">Discount</label>
                            </div>
                        </div>
                    </div>

                    <!--Order provider note-->
                    <div class="row create-product-name">
                        <div class="col-lg-2 col-3 icon-branch-create">
                            <svg viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="css-i6dzq1">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                        </div>
                        <div class="col-lg-10 col-9">
                            <div class="form-floating mb-3">
                                <input class="form-control form-input-bg text-box single-line" placeholder="Name" type="text" value="">
                                <label for="tb-rfname">Note</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget-content searchable-container list">
                <div class="card card-body">
                    <div class="d-flex no-block align-items-center mb-4">
                        <h4 class="card-title">Products Information</h4>
                    </div>
                    <div class="body-products-infor">
                        <div id="dataTableProductSearch">
                            <table class="table table-bordered" id="tableProducts">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Import Price</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyTableProducts">
                                    @if (Model.Products != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.Products)
                                        {
                                            <tr>
                                                @{ i++;}
                                                <td>@i</td>
                                                <td><img src="~/Areas/Admin/Content/img/Product/@item.ImgAvatar" width="60" /></td>
                                                <td>@item.ProductCode</td>
                                                <td>@item.Name</td>
                                                <td>@item.Type.Name</td>
                                                <td>@item.ImportPrice</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <table class="table search-table v-middle">
                            <thead class="header-item">
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody id="bodyTableOrderProduct">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScript{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tableProducts").dataTable({
                lengthMenu: [10, 25, 50, 75, 100],
                language: {
                    searchPlaceholder: "Search products"
                },
                dom: '<"input-group rounded"f><"body-table-products-wrapper"rt<"row"<"col-sm-3"l><"col-sm-5"i><"col-sm-4"p>>>'

            });

            $("#tableProviders").dataTable({
                info: false,
                lengthMenu: [5, 10, 25, 50, 75, 100],
                language: {
                    searchPlaceholder: "Search providers"
                },
                dom: '<"input-group rounded"f><"body-table-providers-wrapper"rt<"row"<"col-sm-6"l><"col-sm-6"p>>>'
            });

            //add id for div
            $("#tableProviders_filter input").attr('id', 'inputSearchProvider');
            $(".body-table-providers-wrapper").attr('id', 'bodyTableProvidersWrapper');

            $("#tableProviders_paginate").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
            });

            $("#tableProviders_length").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
            });

            document.addEventListener('click', function (event) {
                var bodyTableProvidersWrapper = document.getElementById('bodyTableProvidersWrapper');

                var tableProviders = document.getElementById('tableProviders');
                var isClickTableProviders = tableProviders.contains(event.target);

                var inputSearchProvider = document.getElementById('inputSearchProvider');
                var isClickInputSearchProvider = inputSearchProvider.contains(event.target);

                if (isClickInputSearchProvider || isClickTableProviders) {
                    bodyTableProvidersWrapper.style.display = "block";
                } else {
                    bodyTableProvidersWrapper.style.display = "none";
                }
            });

            //add provider
            $("#bodyTableProviders").on("click", function (event) {
                var providerInfo = $(event.target).closest("tr").html();
                var rowCount = $("#bodyTableOrderProvider tr").length;
                if (rowCount > 0) {
                    $("#bodyTableOrderProvider tr").remove();
                }
                $("#bodyTableOrderProvider").append("<tr>" + providerInfo + "</tr>");
            });
        });
    </script>
}

@*<script>
            $(document).ready(function () {

                $("#bodyTableProviders").on("click", function (event) {
                    var providerInfo = $(event.target).closest("tr").html();
                    var rowCount = $("#bodyTableOrderProvider tr").length;
                    if (rowCount > 0) {
                        $("#bodyTableOrderProvider tr").remove();
                    }
                    $("#bodyTableOrderProvider").append("<tr>" + providerInfo + "</tr>");
                });

                document.addEventListener('click', function (event) {
                    //var tableProduct = document.getElementById("dataTableProductSearch");
                    //var inputSearchProduct = document.getElementById("searchProductOrderImport");

                    var tableProvider = document.getElementById("tableProviders");
                    var inputSearchProvider = document.getElementsByClassName("input-search-provider");

    /*                var isClickInputSearchProduct = inputSearchProduct.contains(event.target);*/
                    var isClickInputSearchProvider = inputSearchProvider.contains(event.target);

                    if (isClickInputSearchProvider) {
                        tableProvider.style.display = "block";
                    } else {
                        tableProvider.style.display = "none";
                    }

                    if (isClickInputSearchProduct) {
                        tableProduct.style.display = "block";
                    } else {
                        tableProduct.style.display = "none";
                    }
                });

                $("#searchProductOrderImport").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#bodyTableProducts tr").filter(function () {
                        $(this).toggle(
                            $(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

                $("#searchProviderOrderImport").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#bodyTableProviders tr").filter(function () {
                        $(this).toggle(
                            $(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>*@
